{
  "openapi": "3.0.0",
  "info": {
    "title": "ECP API Specification",
    "version": "1.0",
    "contact": {
      "url": "https://www.cdnetworks.com"
    },
    "description": "The ECP API is a RESTful API that allows you to manage ECP services."
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com"
    }
  ],
  "paths": {
    "/ecp/v1/imagepullsecrets": {
      "post": {
        "summary": "Create an imagePullSecret",
        "operationId": "post-imagepullsecrets",
        "description": "This interface enables you to create imagePullSecrets to be used by Kubernetes when pulling private images for your applications. \n\nNote that ECP apiserver itself will not attempt to use the username and password passed to authenticate against the image registry. Please make sure that the credentials are valid. Invalid credentials will cause failure in image pulling when deploying an application using that imagePullSecret.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "title": "",
                    "type": "string",
                    "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                  },
                  "namespace": {
                    "title": "",
                    "type": "string",
                    "description": "Kubenetes namespace created for your ECP account"
                  },
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the imagePullSecret"
                  },
                  "registry": {
                    "title": "",
                    "type": "string",
                    "description": "Your docker registry FQDN"
                  },
                  "username": {
                    "title": "",
                    "type": "string",
                    "description": "Your docker registry username"
                  },
                  "password": {
                    "type": "string",
                    "title": "",
                    "description": "Your docker registry password",
                    "format": "password"
                  }
                },
                "required": [
                  "name",
                  "namespace",
                  "registry",
                  "username",
                  "password"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "myregistrykey",
                    "namespace": "demo",
                    "description": "imagePullSecret for docker registry",
                    "registry": "docker.io",
                    "username": "demo",
                    "password": "123456"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "imagePullSecrets"
        ],
        "responses": {
          "201": {
            "description": "This response indicates the imagePullSecret is successfully created.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "in": "header",
                "name": "Location",
                "description": "Location of the newly created resource.",
                "required": false
              },
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidSecretName": {
                    "value": {
                      "error": "InvalidSecretName",
                      "message": "Invalid secret name. A valid secret name must consist of lower-case alphanumeric characters, ‘-', or '.’, must start and end with a lower-case alphanumeric character, and must be no more than 63 characters."
                    }
                  },
                  "NamespaceNotExist": {
                    "value": {
                      "error": "NamespaceNotExist",
                      "message": "The namespace given does not exist."
                    }
                  },
                  "RequiredFieldMissing": {
                    "value": {
                      "error": "RequiredFieldMissing",
                      "message": "The field {field} is required."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "This error is returned if you try to create an imagePullSecret that already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNameExists",
                      "message": "The secret name is already taken."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Query imagePullSecrets list",
        "operationId": "get-imagepullsecrets",
        "responses": {
          "200": {
            "description": "The response contains a list of imagePullSecrets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ImagePullSecrets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "imagepullsecretID": {
                            "title": "",
                            "type": "string"
                          },
                          "name": {
                            "title": "",
                            "type": "string",
                            "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                          },
                          "namespace": {
                            "title": "",
                            "type": "string",
                            "description": "Kubenetes namespace created for your ECP account"
                          },
                          "description": {
                            "title": "",
                            "type": "string",
                            "description": "Arbitrary text about the imagePullSecret"
                          },
                          "creationTime": {
                            "title": "",
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime when the resource is created"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "title": "",
                            "format": "date-time",
                            "description": "Datetime when the resource is last updated"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "title": "",
                      "type": "integer",
                      "description": "Total number of resources"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "ImagePullSecrets": [
                        {
                          "imagepullsecretID": "123456",
                          "name": "mysecret1",
                          "namespace": "demo",
                          "description": "image pull secret for qcc registry",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "imagepullsecretID": "123456",
                          "name": "mysecret2",
                          "namespace": "demo",
                          "description": "image pull secret for qcc registry",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "imagepullsecretID": "123456",
                          "name": "mysecret3",
                          "namespace": "demo",
                          "description": "image pull secret for qcc registry",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        }
                      ],
                      "totalCount": 3
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidListOffset": {
                    "value": {
                      "error": "InvalidListOffset",
                      "message": "The value of offset must be a valid non-negative integer."
                    }
                  },
                  "InvalidListLimit": {
                    "value": {
                      "error": "InvalidListLimit",
                      "message": "The value of limit must be a valid integer between 1 and 200, both inclusive."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get a list of imagePullSecrets. You can specify a search parameter, offset and limit to filter the results.",
        "tags": [
          "imagePullSecrets"
        ],
        "parameters": [
          {
            "name": "searchString",
            "in": "query",
            "description": "Keyword to search for particular resources. The value is matched against the \"name\" field of each resource.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates the first resource to return. The first has an offset of 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of resources to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "100",
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": []
    },
    "/ecp/v1/imagepullsecrets/{imagepullsecretID}": {
      "parameters": [
        {
          "type": "string",
          "name": "imagepullsecretID",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "description": "ID of an imagePullSecret",
          "required": true
        }
      ],
      "get": {
        "summary": "Query an imagePullSecret",
        "tags": [
          "imagePullSecrets"
        ],
        "responses": {
          "200": {
            "description": "The response contains details of the imagePullSecret.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imagepullsecretID": {
                      "title": "",
                      "type": "string"
                    },
                    "name": {
                      "title": "",
                      "type": "string",
                      "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                    },
                    "namespace": {
                      "title": "",
                      "type": "string",
                      "description": "Kubenetes namespace created for your ECP account"
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the imagePullSecret"
                    },
                    "registry": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry FQDN"
                    },
                    "username": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry username"
                    },
                    "password": {
                      "type": "string",
                      "title": "",
                      "description": "Your docker registry password",
                      "format": "password"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "imagepullsecretID": "32bd86d6312211eaae6398wc35ded775",
                      "name": "mysecret1",
                      "namespace": "demo",
                      "description": "image pull secret for qcc registry",
                      "registry": "docker.io",
                      "username": "demo",
                      "password": "123456",
                      "creationTime": "2020-10-02T15:00:00Z",
                      "lastUpdateTime": "2020-10-02T15:00:00Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNotFound",
                      "message": "The secret ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-imagepullsecret-by-ID",
        "description": "Get the details of an imagePullSecret",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update an imagePullSecret",
        "operationId": "patch-imagepullsecret-by-ID",
        "responses": {
          "200": {
            "description": "This response indicates the imagePullSecret is successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imagepullsecretID": {
                      "title": "",
                      "type": "string"
                    },
                    "name": {
                      "title": "",
                      "type": "string",
                      "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                    },
                    "namespace": {
                      "title": "",
                      "type": "string",
                      "description": "Kubenetes namespace created for your ECP account"
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the imagePullSecret"
                    },
                    "registry": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry FQDN"
                    },
                    "username": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry username"
                    },
                    "password": {
                      "type": "string",
                      "title": "",
                      "description": "Your docker registry password",
                      "format": "password"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "imagepullsecretID": "32bd86d6312211eaae6398wc35ded775",
                      "name": "mysecret1",
                      "namespace": "demo",
                      "description": "image pull secret for qcc registry",
                      "registry": "docker.io",
                      "username": "demo",
                      "password": "123456",
                      "creationTime": "2020-10-02T15:00:00Z",
                      "lastUpdateTime": "2020-10-02T15:05:00Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNotFound",
                      "message": "The secret ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "imagePullSecrets"
        ],
        "description": "Update an existing imagePullSecret. The fields “name”, “namespace” and “registry” cannot be updated. If a request body includes any of these fields, they will simply be ignored.\n\nNote that updating an imagePullSecret in use might cause temporary failure in image pulling.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the imagePullSecret"
                  },
                  "username": {
                    "title": "",
                    "type": "string",
                    "description": "Your docker registry username"
                  },
                  "password": {
                    "type": "string",
                    "title": "",
                    "description": "Your docker registry password",
                    "format": "password"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "description": "imagePullSecret for docker registry",
                    "username": "demo",
                    "password": "abcdef"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an imagePullSecret",
        "operationId": "delete-imagepullsecret-by-ID",
        "responses": {
          "204": {
            "description": "This response is returned if the imagePullSecret is successfully deleted.",
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretBeingUsed",
                      "message": "The secret is being used by applications and cannot be deleted."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNotFound",
                      "message": "The secret ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "imagePullSecrets"
        ],
        "description": "Delete an existing imagePullSecret.\n\nNote that an imagePullSecret being referenced by an application cannot be deleted."
      }
    },
    "/ecp/v1/cnames": {
      "get": {
        "summary": "Query CNAMEs list",
        "tags": [
          "CNAMEs"
        ],
        "responses": {
          "200": {
            "description": "The response contains a list of CNAMEs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnames": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cnameID": {
                            "title": "",
                            "type": "string",
                            "description": "ID of a CNAME"
                          },
                          "cname": {
                            "title": "",
                            "type": "string",
                            "description": "FQDN CNAME"
                          },
                          "applicationID": {
                            "title": "",
                            "type": "string",
                            "description": "ID of application that the CNAME is created for",
                            "x-examples": {}
                          },
                          "applicationName": {
                            "title": "",
                            "type": "string",
                            "description": "Name of application that the CNAME is created for"
                          },
                          "description": {
                            "title": "",
                            "type": "string",
                            "description": "Arbitrary text about the CNAME"
                          },
                          "creationTime": {
                            "title": "",
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime when the resource is created"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "title": "",
                            "format": "date-time",
                            "description": "Datetime when the resource is last updated"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "title": "",
                      "type": "integer",
                      "description": "Total number of resources"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cnames": [
                        {
                          "cnameID": "12345601",
                          "cname": "cnamedemo1.ecp.qtlcdn.com",
                          "applicationID": "123456abcdef01",
                          "applicationName": "myapp1",
                          "description": "CNAME for myapp1",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "cnameID": "12345602",
                          "cname": "cnamedemo2.ecp.qtlcdn.com",
                          "applicationID": "123456abcdef02",
                          "applicationName": "myapp2",
                          "description": "CNAME for myapp2",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "cnameID": "12345603",
                          "cname": "cnamedemo3.ecp.qtlcdn.com",
                          "applicationID": "123456abcdef03",
                          "applicationName": "myapp3",
                          "description": "CNAME for myapp3",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        }
                      ],
                      "totalCount": 3
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidListOffset": {
                    "value": {
                      "error": "InvalidListOffset",
                      "message": "The value of offset must be a valid non-negative integer."
                    }
                  },
                  "InvalidListLimit": {
                    "value": {
                      "error": "InvalidListLimit",
                      "message": "The value of limit must be a valid integer between 1 and 200, both inclusive."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-cnames",
        "description": "Get a list of CNAMEs. You can specify a search parameter, offset and limit to filter the results.",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "searchString",
            "description": "Keywords to search for particular CNAMEs. The searchString will be matched against the full form of a CNAME, i.e. including the prefix and zone of a CNAME."
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates the first resource to return. The first has an offset of 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of resources to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "100",
              "maximum": 200,
              "minimum": 1
            }
          }
        ]
      },
      "post": {
        "summary": "Create a CNAME",
        "operationId": "post-cnames",
        "responses": {
          "201": {
            "description": "This response indicates the CNAME is successfully created.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "in": "header",
                "name": "Location",
                "description": "Location of the newly created resource.",
                "required": false
              },
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidCnamePrefix": {
                    "value": {
                      "error": "InvalidCnamePrefix",
                      "message": "Invalid prefix. A valid prefix must consist of lower-case alphanumeric characters and must be no more than 63 characters."
                    }
                  },
                  "RequiredFieldMissing": {
                    "value": {
                      "error": "RequiredFieldMissing",
                      "message": "The field {field} is required."
                    }
                  },
                  "ApplicationNotFound": {
                    "value": {
                      "error": "ApplicationNotFound",
                      "message": "The application ID given does not exist."
                    }
                  },
                  "ApplicationHasCname": {
                    "value": {
                      "error": "ApplicationHasCname",
                      "message": "A CNAME for the application already exists."
                    }
                  },
                  "ApplicationNotLoadBalanced": {
                    "value": {
                      "error": "ApplicationNotLoadBalanced",
                      "message": "Creating a CNAME for an application requires that the application be exposed by ECP layer4 load balancers."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "This error is returned if you try to create a CNAME that already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnamePrefixExists",
                      "message": "The prefix is already taken."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "CNAMEs"
        ],
        "description": "This interface allows you to create a CNAME for your ECP application. The CNAME created will let ECP route global traffic for the application. \n\nNote that ECP can manage global traffic for your application only when the application instances distributed at the edge locations are exposed by ECP defined LoadBalancer4 objects.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefix": {
                    "title": "",
                    "type": "string",
                    "description": "Prefix of a CNAME. Must be unique. Allows lower case alphanumeric characters only, and must be no more than 63 characters. Will be auto-generated if unspecified. The prefix will be combined with a fixed DNS zone to form a FQDN."
                  },
                  "applicationID": {
                    "title": "",
                    "type": "string",
                    "description": "ID of application that the CNAME is created for",
                    "x-examples": {}
                  },
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the CNAME"
                  }
                },
                "required": [
                  "prefix",
                  "applicationID"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "prefix": "47fcac940c0311ea977416f2b85656ba",
                    "applicationID": "3068f973f47f11e9977416f2b85638cd",
                    "description": "cname for my demo application"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/ecp/v1/cnames/{cnameID}": {
      "parameters": [
        {
          "type": "string",
          "name": "cnameID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "ID of a CNAME"
        }
      ],
      "get": {
        "summary": "Query a CNAME",
        "tags": [
          "CNAMEs"
        ],
        "responses": {
          "200": {
            "description": "The response contains details of the CNAME.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnameID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of a CNAME"
                    },
                    "cname": {
                      "title": "",
                      "type": "string",
                      "description": "FQDN CNAME"
                    },
                    "applicationID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of application that the CNAME is created for",
                      "x-examples": {}
                    },
                    "applicationName": {
                      "title": "",
                      "type": "string",
                      "description": "Name of application that the CNAME is created for"
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the CNAME"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cnameID": "4cbb31772e0211eaae6398ac35ded775",
                      "cname": "b82745fdcad891.ecp.qtlcdn.com",
                      "applicationID": "fb46b51c125411eae36396ac35ded775",
                      "applicationName": "myapp1",
                      "description": "demo cname for myapp1",
                      "creationTime": "2020-10-03T08:23:20Z",
                      "lastUpdateTime": "2020-10-03T08:23:20Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnameNotFound",
                      "message": "The CNAME ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-cname-by-ID",
        "description": "Get the details of an existing CNAME.",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update a CNAME",
        "operationId": "patch-cnames-by-ID",
        "responses": {
          "200": {
            "description": "This response indicates the CNAME is successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnameID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of a CNAME"
                    },
                    "cname": {
                      "title": "",
                      "type": "string",
                      "description": "FQDN CNAME"
                    },
                    "applicationID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of application that the CNAME is created for",
                      "x-examples": {}
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the CNAME"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cnameID": "4cbb31772e0211eaae6398ac35ded775",
                      "cname": "b82745fdcad891.ecp.qtlcdn.com",
                      "applicationID": "fb46b51c125411eae36396ac35ded775",
                      "applicationName": "myapp1",
                      "description": "demo cname for myapp1",
                      "creationTime": "2020-10-03T08:23:20Z",
                      "lastUpdateTime": "2020-10-03T08:23:20Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnameNotFound",
                      "message": "The CNAME ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "CNAMEs"
        ],
        "description": "Update an existing CNAME. Only the field \"description\" can be updated. The fields \"prefix\" and \"applicationID\" cannot be updated. If the prefix needs to be changed, please delete the CNAME and create a new one using a new prefix.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the CNAME"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "description": "demo cname for myapp1"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a CNAME",
        "operationId": "delete-cnames-by-ID",
        "responses": {
          "204": {
            "description": "This response is returned if the CNAME is successfully deleted.",
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnameNotFound",
                      "message": "The CNAME ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "CNAMEs"
        ],
        "description": "Delete an existing CNAME.\n\nAfter the CNAME is deleted, ECP will stop routing traffic for your application. Please make sure you've made necessary changes to the DNS record(s) for your application before deleting the CNAME."
      }
    },
    "/ecp/v1/metrics/{metric}": {
      "parameters": [
        {
          "name": "metric",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "inboundTraffic",
              "inboundBandwidth",
              "outboundTraffic",
              "outboundBandwidth",
              "totalTraffic",
              "totalBandwidth",
              "podCount",
              "vcpu",
              "mem",
              "local-ssd",
              "persist-ssd",
              "ipCount"
            ]
          },
          "description": "Usage metric on compute, storage and network resources.\n\nMetric | Description | Measured in\n--- | --- | --- \ninboundTraffic | amount of data transmitted to ECP during a time period | byte\ninboundBandwidth | rate of data transfer to ECP during a time period | bps\noutboundTraffic | amount of data transmitted from ECP during a time period | byte\noutboundBandwidth | rate of data transfer from ECP during a time period | bps\ntotalTraffic | amount of data transmitted to and from ECP during a time period | byte\ntotalBandwidth | rate of data transfer to and from ECP during a time period | bps\nvcpu | amount of CPU cores allocated and available during a time period | core\nmem | amount of memory allocated and available during a time peirod | byte\nlocal-ssd | amount of local storage capacity allocated and available during a time period | byte\npersist-ssd | amount of remote storage capacity allocated and available during a time period | byte\npodCount | number of kubernetes pods existing and maintained for your application(s) during a time period | ea\nipCount | number of public IPv4 addresses allocated and available during a time period | ea\n"
        }
      ],
      "get": {
        "summary": "Get resources usage across all PoPs",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "array of time serialized metric values",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "timestamp"
                          },
                          "value": {
                            "type": "number",
                            "description": "metric value"
                          }
                        }
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "traffic report at 5 min interval": {
                    "value": {
                      "data": [
                        {
                          "timestamp": "2019-10-02T15:00:00Z",
                          "value": 216326
                        },
                        {
                          "timestamp": "2019-10-02T15:05:00Z",
                          "value": 214326
                        },
                        {
                          "timestamp": "2019-10-02T15:10:00Z",
                          "value": 216226
                        },
                        {
                          "timestamp": "2019-10-02T15:15:00Z",
                          "value": 212126
                        },
                        {
                          "timestamp": "2019-10-02T15:20:00Z",
                          "value": 215326
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "InvalidDateFormat",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDateFormat"
                        },
                        "message": {
                          "type": "string",
                          "description": "Invalid parameter {startTime / endTime}. {startTime/endTime} is not a valid RFC3339 timestamp. The timestamp should be in \"yyyy-MM-dd'T'HH:mm:ss'Z'\" format."
                        }
                      }
                    },
                    {
                      "title": "InvalidRange",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidRange"
                        },
                        "message": {
                          "type": "string",
                          "description": "One of: \"The max time span of {interval} report must be no more than {xxx days}.\" \"The parameter 'startTime' cannot be a time in the future.\" \"The parameter 'endTime' should be after 'startTime'.\""
                        }
                      }
                    },
                    {
                      "title": "InvalidInterval",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidInterval"
                        },
                        "message": {
                          "type": "string",
                          "description": "The interval requested is invalid."
                        }
                      }
                    },
                    {
                      "title": "InvalidReportRange",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidReportRange"
                        },
                        "message": {
                          "type": "string",
                          "description": "A valid report range shall be “self-only”, “children-only”, or “self+children”."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidDateFormat",
                      "message": "The format of startTime or endTime is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InvalidMetric",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InvalidMetric"
                    },
                    "message": {
                      "type": "string",
                      "description": "The metric given is invalid."
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidMetric",
                      "message": "The metric given is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-summary-reports",
        "description": "Get a summary of compute, storage and network resources usage across all PoPs. ",
        "parameters": [
          {
            "in": "query",
            "name": "startTime",
            "description": "RFC 3339 date indicating the beginning of a time period. Example: <code>startTime=2019-10-30T00:00:00Z</code>. Your startTime may be rounded down to the nearest minute, hour, or day depending on the interval parameter. For example, if you enter <code>startTime=2019-09-05T03:14:01Z&interval=hourly</code>, the response includes data beginning at 2019-09-05T03:00:00Z.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "endTime",
            "description": "RFC 3339 date indicating the end of a time period. Example: <code>endTime=2019-11-14T00:00:00Z</code> Your endTime may be rounded up to the nearest minute, hour, or day depending on the interval parameter. For example, if you enter <code>endTime=2019-09-05T03:14:01Z&interval=hourly</code>, the response includes data ending at 2019-09-05T04:00:00Z.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "oneminute",
                "fiveminutes",
                "hourly",
                "daily",
                "monthly"
              ]
            },
            "name": "interval",
            "required": true,
            "description": "The granularity of returned data. Raw report data is generated per 1 minute. The data is aggregated to give reports of different granularities. The aggregation method is “sum” for the metrics \"inboundTraffic\", \"outboundTraffic\" and \"totalTraffic\". For all other metrics, the aggregation method is \"average\". \n\n\"oneminute\" interval is supported only when the timespan is not longer than 7 days. \"fiveminutes\" interval is supported only when the timespan is not longer than 31 days.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "self-only",
              "enum": [
                "self-only",
                "children-only",
                "self+children"
              ]
            },
            "name": "Report-Range",
            "description": "An optional header that resellers can use to specify whether to include data from children customers.",
            "in": "header"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/ecp/v1/metrics/{metric}/servicezones": {
      "parameters": [
        {
          "name": "metric",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "inboundTraffic",
              "inboundBandwidth",
              "outboundTraffic",
              "outboundBandwidth",
              "totalTraffic",
              "totalBandwidth",
              "podCount",
              "vcpu",
              "mem",
              "local-ssd",
              "persist-ssd",
              "ipCount"
            ]
          },
          "description": "Usage metric on compute, storage and network resources.\n\nMetric | Description | Measured in\n--- | --- | --- \ninboundTraffic | amount of data transmitted to ECP during a time period | byte\ninboundBandwidth | rate of data transfer to ECP during a time period | bps\noutboundTraffic | amount of data transmitted from ECP during a time period | byte\noutboundBandwidth | rate of data transfer from ECP during a time period | bps\ntotalTraffic | amount of data transmitted to and from ECP during a time period | byte\ntotalBandwidth | rate of data transfer to and from ECP during a time period | bps\nvcpu | amount of CPU cores allocated and available during a time period | core\nmem | amount of memory allocated and available during a time peirod | byte\nlocal-ssd | amount of local storage capacity allocated and available during a time period | byte\npersist-ssd | amount of remote storage capacity allocated and available during a time period | byte\npodCount | number of kubernetes pods existing and maintained for your application(s) during a time period | ea\nipCount | number of public IPv4 addresses allocated and available during a time period | ea\n"
        }
      ],
      "get": {
        "summary": "Get resources usage per service zones",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "series": {
                      "type": "array",
                      "description": "usage reports grouped per service zones",
                      "items": {
                        "type": "object",
                        "properties": {
                          "serviceZone": {
                            "type": "string",
                            "enum": [
                              "business",
                              "standard",
                              "premium"
                            ]
                          },
                          "data": {
                            "type": "array",
                            "description": "array of time serialized metric values",
                            "items": {
                              "type": "object",
                              "properties": {
                                "timestamp": {
                                  "type": "string",
                                  "description": "timestamp"
                                },
                                "value": {
                                  "type": "number",
                                  "description": "metric value"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "traffic report at 5 minute interval": {
                    "value": {
                      "series": [
                        {
                          "serviceZone": "business",
                          "data": [
                            {
                              "timestamp": "2019-10-02T15:00:00Z",
                              "value": 216326
                            },
                            {
                              "timestamp": "2019-10-02T15:05:00Z",
                              "value": 214326
                            },
                            {
                              "timestamp": "2019-10-02T15:10:00Z",
                              "value": 216226
                            },
                            {
                              "timestamp": "2019-10-02T15:15:00Z",
                              "value": 212126
                            },
                            {
                              "timestamp": "2019-10-02T15:20:00Z",
                              "value": 215326
                            }
                          ]
                        },
                        {
                          "serviceZone": "standard",
                          "data": [
                            {
                              "timestamp": "2019-10-02T15:00:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:05:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:10:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:15:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:20:00Z",
                              "value": 0
                            }
                          ]
                        },
                        {
                          "serviceZone": "premium",
                          "data": [
                            {
                              "timestamp": "2019-10-02T15:00:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:05:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:10:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:15:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2019-10-02T15:20:00Z",
                              "value": 0
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "InvalidDateFormat",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDateFormat"
                        },
                        "message": {
                          "type": "string",
                          "description": "Invalid parameter {startTime / endTime}. {startTime/endTime} is not a valid RFC3339 timestamp. The timestamp should be in \"yyyy-MM-dd'T'HH:mm:ss'Z'\" format."
                        }
                      }
                    },
                    {
                      "title": "InvalidRange",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidRange"
                        },
                        "message": {
                          "type": "string",
                          "description": "One of: \"The max time span of {interval} report must be no more than {xxx days}.\" \"The parameter 'startTime' cannot be a time in the future.\" \"The parameter 'endTime' should be after 'startTime'.\""
                        }
                      }
                    },
                    {
                      "title": "InvalidInterval",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidInterval"
                        },
                        "message": {
                          "type": "string",
                          "description": "The interval requested is invalid."
                        }
                      }
                    },
                    {
                      "title": "InvalidReportRange",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidReportRange"
                        },
                        "message": {
                          "type": "string",
                          "description": "A valid report range shall be “self-only”, “children-only”, or “self+children”."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidDateFormat",
                      "message": "The format of startTime or endTime is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InvalidMetric",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InvalidMetric"
                    },
                    "message": {
                      "type": "string",
                      "description": "The metric given is invalid."
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidMetric",
                      "message": "The metric given is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-reports-by-servicezones",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "self-only",
              "enum": [
                "self-only",
                "children-only",
                "self+children"
              ]
            },
            "name": "Report-Range",
            "description": "An optional header that resellers can use to specify whether to include data from children customers.",
            "in": "header"
          },
          {
            "in": "query",
            "name": "startTime",
            "description": "RFC 3339 date indicating the beginning of a time period. Example: <code>startTime=2019-10-30T00:00:00Z</code>. Your startTime may be rounded down to the nearest minute, hour, or day depending on the interval parameter. For example, if you enter <code>startTime=2019-09-05T03:14:01Z&interval=hourly</code>, the response includes data beginning at 2019-09-05T03:00:00Z.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "endTime",
            "description": "RFC 3339 date indicating the end of a time period. Example: <code>endTime=2019-11-14T00:00:00Z</code> Your endTime may be rounded up to the nearest minute, hour, or day depending on the interval parameter. For example, if you enter <code>endTime=2019-09-05T03:14:01Z&interval=hourly</code>, the response includes data ending at 2019-09-05T04:00:00Z.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "oneminute",
                "fiveminutes",
                "hourly",
                "daily",
                "monthly"
              ]
            },
            "name": "interval",
            "required": true,
            "description": "The granularity of returned data. Raw report data is generated per 1 minute. The data is aggregated to give reports of different granularities. The aggregation method is “sum” for the metrics \"inboundTraffic\", \"outboundTraffic\" and \"totalTraffic\". For all other metrics, the aggregation method is \"average\". \n\n\"oneminute\" interval is supported only when the timespan is not longer than 7 days. \"fiveminutes\" interval is supported only when the timespan is not longer than 31 days.",
            "in": "query"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Get reports on resources usage grouped per service zone"
      }
    },
    "/ecp/v1/metrics/{metric}/applications/{applicationID}/instances/{instanceID}": {
      "parameters": [
        {
          "type": "string",
          "name": "instanceID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "ID of a pod created for an ECP application"
        },
        {
          "name": "metric",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "inboundTraffic",
              "inboundBandwidth",
              "outboundTraffic",
              "outboundBandwidth",
              "cpuUsage",
              "memUsage",
              "diskUsage"
            ]
          },
          "description": "Usage metric on compute, storage and network resources.\n\nMetric | Description | Measured in\n--- | --- | ---\ninboundTraffic | amount of data transmitted to a pod during a time period | byte\ninboundBandwidth | rate of data transfer to a pod during a time period | bps\noutboundTraffic | amount of data transmitted from a pod during a time period | byte\noutboundBandwidth | rate of data transfer from a pod during a time period | bps\ncpuUsage | amount of CPU cores consumed by container process(es) in a pod during a time period | core\nmemUsage | amount of memory consumed by container process(es) in a pod during a time period | byte\ndiskUsage | Disk usage rate. Here \"disk\" could be the rootFS of a container in a pod, or a PVC volume attached to a pod. | --\n"
        },
        {
          "name": "applicationID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "ID of an ECP application"
        }
      ],
      "get": {
        "summary": "Get resources usage by an instance",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "CPU/memory/traffic report",
                      "properties": {
                        "data": {
                          "type": "array",
                          "description": "Array of time serialized metric values. This schema is used when the queried metric is a metric other than 'diskUsage'",
                          "items": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp"
                              },
                              "value": {
                                "type": "number",
                                "description": "metric value"
                              }
                            }
                          }
                        }
                      },
                      "type": "object"
                    },
                    {
                      "title": "Storage report",
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "description": "Array of time serialized metric values. This schema is used when the queried metric is 'diskUsage'",
                          "items": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp"
                              },
                              "volumes": {
                                "type": "array",
                                "description": "metric value",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "volume": {
                                      "type": "string",
                                      "description": "Could be a container rootFS or a PVC volume attached to a pod"
                                    },
                                    "value": {
                                      "type": "number",
                                      "description": "Disk usage rate, e.g. \"0.2\" means 20% of disk capacity is used."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "If the metric is \"diskUsage\", the response will be in this format."
                    }
                  ],
                  "description": "There are 2 response schemas. The schema for \"diskUsage\" metric is different from the schema for all other metrics."
                },
                "examples": {
                  "cpuUsage": {
                    "value": {
                      "data": [
                        {
                          "timestamp": "2019-10-02T15:00:00Z",
                          "value": 1.3
                        },
                        {
                          "timestamp": "2019-10-02T15:05:00Z",
                          "value": 1.2
                        },
                        {
                          "timestamp": "2019-10-02T15:10:00Z",
                          "value": 1.5
                        },
                        {
                          "timestamp": "2019-10-02T15:15:00Z",
                          "value": 1.3
                        },
                        {
                          "timestamp": "2019-10-02T15:20:00Z",
                          "value": 1.2
                        }
                      ]
                    }
                  },
                  "diskUsage": {
                    "value": {
                      "data": [
                        {
                          "timestamp": "2019-10-02T15:00:00Z",
                          "volumes": [
                            {
                              "volume": "Root_container1",
                              "value": 0.22
                            },
                            {
                              "volume": "Root_container2",
                              "value": 0.36
                            },
                            {
                              "volume": "PVC_data",
                              "value": 0.27
                            }
                          ]
                        },
                        {
                          "timestamp": "2019-10-02T15:05:00Z",
                          "volumes": [
                            {
                              "volume": "Root_container1",
                              "value": 0.22
                            },
                            {
                              "volume": "Root_container2",
                              "value": 0.16
                            },
                            {
                              "volume": "PVC_data",
                              "value": 0.27
                            }
                          ]
                        },
                        {
                          "timestamp": "2019-10-02T15:10:00Z",
                          "volumes": [
                            {
                              "volume": "Root_container1",
                              "value": 0.22
                            },
                            {
                              "volume": "Root_container2",
                              "value": 0.22
                            },
                            {
                              "volume": "PVC_data",
                              "value": 0.28
                            }
                          ]
                        },
                        {
                          "timestamp": "2019-10-02T15:15:00Z",
                          "volumes": [
                            {
                              "volume": "Root_container1",
                              "value": 0.22
                            },
                            {
                              "volume": "Root_container2",
                              "value": 0.36
                            },
                            {
                              "volume": "PVC_data",
                              "value": 0.27
                            }
                          ]
                        },
                        {
                          "timestamp": "2019-10-02T15:20:00Z",
                          "volumes": [
                            {
                              "volume": "Root_container1",
                              "value": 0.22
                            },
                            {
                              "volume": "Root_container2",
                              "value": 0.16
                            },
                            {
                              "volume": "PVC_data",
                              "value": 0.26
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "InvalidDateFormat",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDateFormat"
                        },
                        "message": {
                          "type": "string",
                          "description": "Invalid parameter {startTime / endTime}. {startTime/endTime} is not a valid RFC3339 timestamp. The timestamp should be in \"yyyy-MM-dd'T'HH:mm:ss'Z'\" format."
                        }
                      }
                    },
                    {
                      "title": "InvalidRange",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidRange"
                        },
                        "message": {
                          "type": "string",
                          "description": "One of: \"The max time span of {interval} report must be no more than {xxx days}.\" \"The parameter 'startTime' cannot be a time in the future.\" \"The parameter 'endTime' should be after 'startTime'.\""
                        }
                      }
                    },
                    {
                      "title": "InvalidInterval",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidInterval"
                        },
                        "message": {
                          "type": "string",
                          "description": "The interval requested is invalid."
                        }
                      }
                    },
                    {
                      "title": "InvalidReportRange",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidReportRange"
                        },
                        "message": {
                          "type": "string",
                          "description": "A valid report range shall be “self-only”, “children-only”, or “self+children”."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidDateFormat",
                      "message": "The format of startTime or endTime is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
[...]
