{
  "openapi": "3.0.0",
  "info": {
    "title": "ECP API Specification",
    "version": "1.0",
    "contact": {
      "url": "https://www.cdnetworks.com"
    },
    "description": "The ECP API is a RESTful API that allows you to interact with ECP platform to manage your ECP resources."
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com"
    }
  ],
  "paths": {
    "/ecp/v1/imagepullsecrets": {
      "post": {
        "summary": "Create an imagePullSecret",
        "operationId": "post-imagepullsecrets",
        "description": "This interface enables you to create imagePullSecrets to be used by Kubernetes when pulling private images for your applications. \n\nECP apiserver itself will not attempt to use the username and password passed to authenticate against the image registry. So make sure that the credentials are valid. Invalid credentials will cause failure in image pulling when deploying an application using that imagePullSecret.\n\nWhen an ECP registry user gets created, a corresponding imagePullSecret is created automatically. Manually creating an imagePullSecret for your ECP registry user is not allowed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "title": "",
                    "type": "string",
                    "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                  },
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the imagePullSecret"
                  },
                  "registry": {
                    "title": "",
                    "type": "string",
                    "description": "Your docker registry FQDN"
                  },
                  "username": {
                    "title": "",
                    "type": "string",
                    "description": "Your docker registry username"
                  },
                  "password": {
                    "type": "string",
                    "title": "",
                    "description": "Your docker registry password",
                    "format": "password"
                  }
                },
                "required": [
                  "name",
                  "registry",
                  "username",
                  "password"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "myregistrykey",
                    "namespace": "demo",
                    "description": "imagePullSecret for docker registry",
                    "registry": "docker.io",
                    "username": "demo",
                    "password": "123456"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "imagePullSecrets"
        ],
        "responses": {
          "201": {
            "description": "This response indicates the imagePullSecret is successfully created.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "in": "header",
                "name": "Location",
                "description": "Location of the newly created resource.",
                "required": false
              },
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidSecretName": {
                    "value": {
                      "error": "InvalidSecretName",
                      "message": "Invalid secret name. A valid secret name must consist of lower-case alphanumeric characters, ‘-', or '.’, must start and end with a lower-case alphanumeric character, and must be no more than 63 characters."
                    }
                  },
                  "RequiredFieldMissing": {
                    "value": {
                      "error": "RequiredFieldMissing",
                      "message": "The field {field} is required."
                    }
                  },
                  "RegistryNotAllowed": {
                    "value": {
                      "error": "RegistryNotAllowed",
                      "message": "Creating secret for an ECP registry user is not allowed. This is handled by ECP automatically."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "This error is returned if you try to create an imagePullSecret that already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNameExists",
                      "message": "The secret name is already taken."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Query imagePullSecrets list",
        "operationId": "get-imagepullsecrets",
        "responses": {
          "200": {
            "description": "The response contains a list of imagePullSecrets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ImagePullSecrets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "imagepullsecretID": {
                            "title": "",
                            "type": "string"
                          },
                          "name": {
                            "title": "",
                            "type": "string",
                            "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                          },
                          "description": {
                            "title": "",
                            "type": "string",
                            "description": "Arbitrary text about the imagePullSecret"
                          },
                          "creationTime": {
                            "title": "",
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime when the resource is created"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "title": "",
                            "format": "date-time",
                            "description": "Datetime when the resource is last updated"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "title": "",
                      "type": "integer",
                      "description": "Total number of resources"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "ImagePullSecrets": [
                        {
                          "imagepullsecretID": "123456",
                          "name": "mysecret1",
                          "description": "image pull secret for qcc registry",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "imagepullsecretID": "123456",
                          "name": "mysecret2",
                          "description": "image pull secret for qcc registry",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "imagepullsecretID": "123456",
                          "name": "mysecret3",
                          "description": "image pull secret for qcc registry",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        }
                      ],
                      "totalCount": 3
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidListOffset": {
                    "value": {
                      "error": "InvalidListOffset",
                      "message": "The value of offset must be a valid non-negative integer."
                    }
                  },
                  "InvalidListLimit": {
                    "value": {
                      "error": "InvalidListLimit",
                      "message": "The value of limit must be a valid integer between 1 and 200, both inclusive."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get a list of imagePullSecrets. You can specify a search parameter, offset and limit to filter the results.",
        "tags": [
          "imagePullSecrets"
        ],
        "parameters": [
          {
            "name": "searchString",
            "in": "query",
            "description": "Keyword to search for particular resources. The value is matched against the \"name\" field of each resource.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates the first resource to return. The first has an offset of 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of resources to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": []
    },
    "/ecp/v1/imagepullsecrets/{imagepullsecretID}": {
      "parameters": [
        {
          "name": "imagepullsecretID",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "description": "ID of an imagePullSecret",
          "required": true
        }
      ],
      "get": {
        "summary": "Query an imagePullSecret",
        "tags": [
          "imagePullSecrets"
        ],
        "responses": {
          "200": {
            "description": "The response contains details of the imagePullSecret.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imagepullsecretID": {
                      "title": "",
                      "type": "string"
                    },
                    "name": {
                      "title": "",
                      "type": "string",
                      "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the imagePullSecret"
                    },
                    "registry": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry FQDN"
                    },
                    "username": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry username"
                    },
                    "password": {
                      "type": "string",
                      "title": "",
                      "description": "Your docker registry password",
                      "format": "password"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "imagepullsecretID": "32bd86d6312211eaae6398wc35ded775",
                      "name": "mysecret1",
                      "description": "image pull secret for qcc registry",
                      "registry": "docker.io",
                      "username": "demo",
                      "password": "123456",
                      "creationTime": "2020-10-02T15:00:00Z",
                      "lastUpdateTime": "2020-10-02T15:00:00Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNotFound",
                      "message": "The secret ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-imagepullsecret-by-ID",
        "description": "Get the details of an imagePullSecret",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update an imagePullSecret",
        "operationId": "patch-imagepullsecret-by-ID",
        "responses": {
          "200": {
            "description": "This response indicates the imagePullSecret is successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imagepullsecretID": {
                      "title": "",
                      "type": "string"
                    },
                    "name": {
                      "title": "",
                      "type": "string",
                      "description": "Name of the imagePullSecret. Shall be unique within a namespace. Allows lower case alphanumeric characters, ‘-’ and ‘.’ only, must start and end with an alphanumeric character, and must be no more than 63 characters."
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the imagePullSecret"
                    },
                    "registry": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry FQDN"
                    },
                    "username": {
                      "title": "",
                      "type": "string",
                      "description": "Your docker registry username"
                    },
                    "password": {
                      "type": "string",
                      "title": "",
                      "description": "Your docker registry password",
                      "format": "password"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "imagepullsecretID": "32bd86d6312211eaae6398wc35ded775",
                      "name": "mysecret1",
                      "description": "image pull secret for qcc registry",
                      "registry": "docker.io",
                      "username": "demo",
                      "password": "123456",
                      "creationTime": "2020-10-02T15:00:00Z",
                      "lastUpdateTime": "2020-10-02T15:05:00Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "UpdateManagedSecretNotAllowed",
                      "message": "The secret is manged by ECP and cannot be updated."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNotFound",
                      "message": "The secret ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "imagePullSecrets"
        ],
        "description": "Update an existing imagePullSecret. The fields “name” and “registry” cannot be updated. If a request body includes any of these fields, they will simply be ignored.\n\nNote that updating an imagePullSecret in use might cause temporary failure in image pulling.\n\nWhen an ECP registry user is created, a corresponding imagePullSecret is created automatically. Such an imagePullSecret is managed by ECP and cannot be updated. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the imagePullSecret"
                  },
                  "username": {
                    "title": "",
                    "type": "string",
                    "description": "Your docker registry username"
                  },
                  "password": {
                    "type": "string",
                    "title": "",
                    "description": "Your docker registry password",
                    "format": "password"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "description": "imagePullSecret for docker registry",
                    "username": "demo",
                    "password": "abcdef"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an imagePullSecret",
        "operationId": "delete-imagepullsecret-by-ID",
        "responses": {
          "204": {
            "description": "This response is returned if the imagePullSecret is successfully deleted.",
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "SecretBeingUsed": {
                    "value": {
                      "error": "SecretBeingUsed",
                      "message": "The secret is being used by applications and cannot be deleted."
                    }
                  },
                  "DeleteManagedSecretNotAllowed": {
                    "value": {
                      "error": "DeleteManagedSecretNotAllowed",
                      "message": "The secret is manged by ECP and cannot be deleted."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "SecretNotFound",
                      "message": "The secret ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "imagePullSecrets"
        ],
        "description": "Delete an existing imagePullSecret.\n\nNote that an imagePullSecret being referenced by an application cannot be deleted.\n\nWhen an ECP registry user is created, a corresponding imagePullSecret is created automatically. Such an imagePullSecret is managed by ECP and cannot be deleted."
      }
    },
    "/ecp/v1/cnames": {
      "get": {
        "summary": "Query CNAMEs list",
        "tags": [
          "CNAMEs"
        ],
        "responses": {
          "200": {
            "description": "The response contains a list of CNAMEs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnames": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cnameID": {
                            "title": "",
                            "type": "string",
                            "description": "ID of a CNAME"
                          },
                          "cname": {
                            "title": "",
                            "type": "string",
                            "description": "FQDN CNAME"
                          },
                          "applicationID": {
                            "title": "",
                            "type": "string",
                            "description": "ID of application that the CNAME is created for",
                            "x-examples": {}
                          },
                          "applicationName": {
                            "title": "",
                            "type": "string",
                            "description": "Name of application that the CNAME is created for"
                          },
                          "description": {
                            "title": "",
                            "type": "string",
                            "description": "Arbitrary text about the CNAME"
                          },
                          "creationTime": {
                            "title": "",
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime when the resource is created"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "title": "",
                            "format": "date-time",
                            "description": "Datetime when the resource is last updated"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "title": "",
                      "type": "integer",
                      "description": "Total number of resources"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cnames": [
                        {
                          "cnameID": "12345601",
                          "cname": "cnamedemo1.ecp.qtlcdn.com",
                          "applicationID": "123456abcdef01",
                          "applicationName": "myapp1",
                          "description": "CNAME for myapp1",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "cnameID": "12345602",
                          "cname": "cnamedemo2.ecp.qtlcdn.com",
                          "applicationID": "123456abcdef02",
                          "applicationName": "myapp2",
                          "description": "CNAME for myapp2",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        },
                        {
                          "cnameID": "12345603",
                          "cname": "cnamedemo3.ecp.qtlcdn.com",
                          "applicationID": "123456abcdef03",
                          "applicationName": "myapp3",
                          "description": "CNAME for myapp3",
                          "creationTime": "2020-10-02T15:00:00Z",
                          "lastUpdateTime": "2020-10-02T15:00:00Z"
                        }
                      ],
                      "totalCount": 3
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidListOffset": {
                    "value": {
                      "error": "InvalidListOffset",
                      "message": "The value of offset must be a valid non-negative integer."
                    }
                  },
                  "InvalidListLimit": {
                    "value": {
                      "error": "InvalidListLimit",
                      "message": "The value of limit must be a valid integer between 1 and 200, both inclusive."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-cnames",
        "description": "Get a list of CNAMEs. You can specify a search parameter, offset and limit to filter the results.",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "searchString",
            "description": "Keywords to search for particular CNAMEs. The searchString will be matched against the full form of a CNAME, i.e. including the prefix and zone of a CNAME."
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates the first resource to return. The first has an offset of 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of resources to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200,
              "minimum": 1
            }
          }
        ]
      },
      "post": {
        "summary": "Create a CNAME",
        "operationId": "post-cnames",
        "responses": {
          "201": {
            "description": "This response indicates the CNAME is successfully created.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "in": "header",
                "name": "Location",
                "description": "Location of the newly created resource.",
                "required": false
              },
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidCnamePrefix": {
                    "value": {
                      "error": "InvalidCnamePrefix",
                      "message": "Invalid prefix. A valid prefix must consist of lower-case alphanumeric characters and must be no more than 63 characters."
                    }
                  },
                  "RequiredFieldMissing": {
                    "value": {
                      "error": "RequiredFieldMissing",
                      "message": "The field {field} is required."
                    }
                  },
                  "ApplicationNotFound": {
                    "value": {
                      "error": "ApplicationNotFound",
                      "message": "The application ID given does not exist."
                    }
                  },
                  "ApplicationHasCname": {
                    "value": {
                      "error": "ApplicationHasCname",
                      "message": "A CNAME for the application already exists."
                    }
                  },
                  "ApplicationNotLoadBalanced": {
                    "value": {
                      "error": "ApplicationNotLoadBalanced",
                      "message": "Creating a CNAME for an application requires that the application be exposed by ECP layer4 load balancers."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "This error is returned if you try to create a CNAME that already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnamePrefixExists",
                      "message": "The prefix is already taken."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "CNAMEs"
        ],
        "description": "This interface allows you to create a CNAME for your ECP application. The CNAME created will let ECP route global traffic for the application. \n\nNote that ECP can manage global traffic for your application only when the application instances distributed at the edge locations are exposed by ECP defined LoadBalancer4 objects.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefix": {
                    "title": "",
                    "type": "string",
                    "description": "Prefix of a CNAME. Must be unique. Allows lower case alphanumeric characters only, and must be no more than 63 characters. Will be auto-generated if unspecified. The prefix will be combined with a fixed DNS zone to form a FQDN."
                  },
                  "applicationID": {
                    "title": "",
                    "type": "string",
                    "description": "ID of application that the CNAME is created for",
                    "x-examples": {}
                  },
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the CNAME"
                  }
                },
                "required": [
                  "prefix",
                  "applicationID"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "prefix": "47fcac940c0311ea977416f2b85656ba",
                    "applicationID": "3068f973f47f11e9977416f2b85638cd",
                    "description": "cname for my demo application"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/ecp/v1/cnames/{cnameID}": {
      "parameters": [
        {
          "name": "cnameID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "ID of a CNAME"
        }
      ],
      "get": {
        "summary": "Query a CNAME",
        "tags": [
          "CNAMEs"
        ],
        "responses": {
          "200": {
            "description": "The response contains details of the CNAME.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnameID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of a CNAME"
                    },
                    "cname": {
                      "title": "",
                      "type": "string",
                      "description": "FQDN CNAME"
                    },
                    "applicationID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of application that the CNAME is created for",
                      "x-examples": {}
                    },
                    "applicationName": {
                      "title": "",
                      "type": "string",
                      "description": "Name of application that the CNAME is created for"
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the CNAME"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cnameID": "4cbb31772e0211eaae6398ac35ded775",
                      "cname": "b82745fdcad891.ecp.qtlcdn.com",
                      "applicationID": "fb46b51c125411eae36396ac35ded775",
                      "applicationName": "myapp1",
                      "description": "demo cname for myapp1",
                      "creationTime": "2020-10-03T08:23:20Z",
                      "lastUpdateTime": "2020-10-03T08:23:20Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnameNotFound",
                      "message": "The CNAME ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-cname-by-ID",
        "description": "Get the details of an existing CNAME.",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update a CNAME",
        "operationId": "patch-cnames-by-ID",
        "responses": {
          "200": {
            "description": "This response indicates the CNAME is successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnameID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of a CNAME"
                    },
                    "cname": {
                      "title": "",
                      "type": "string",
                      "description": "FQDN CNAME"
                    },
                    "applicationID": {
                      "title": "",
                      "type": "string",
                      "description": "ID of application that the CNAME is created for",
                      "x-examples": {}
                    },
                    "description": {
                      "title": "",
                      "type": "string",
                      "description": "Arbitrary text about the CNAME"
                    },
                    "creationTime": {
                      "title": "",
                      "format": "date-time",
                      "type": "string",
                      "description": "Datetime when the resource is created"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "title": "",
                      "format": "date-time",
                      "description": "Datetime when the resource is last updated"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cnameID": "4cbb31772e0211eaae6398ac35ded775",
                      "cname": "b82745fdcad891.ecp.qtlcdn.com",
                      "applicationID": "fb46b51c125411eae36396ac35ded775",
                      "applicationName": "myapp1",
                      "description": "demo cname for myapp1",
                      "creationTime": "2020-10-03T08:23:20Z",
                      "lastUpdateTime": "2020-10-03T08:23:20Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnameNotFound",
                      "message": "The CNAME ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "CNAMEs"
        ],
        "description": "Update an existing CNAME. Only the field \"description\" can be updated. The fields \"prefix\" and \"applicationID\" cannot be updated. If the prefix needs to be changed, please delete the CNAME and create a new one using a new prefix.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "title": "",
                    "type": "string",
                    "description": "Arbitrary text about the CNAME"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "description": "demo cname for myapp1"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a CNAME",
        "operationId": "delete-cnames-by-ID",
        "responses": {
          "204": {
            "description": "This response is returned if the CNAME is successfully deleted.",
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "CnameNotFound",
                      "message": "The CNAME ID given does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "CNAMEs"
        ],
        "description": "Delete an existing CNAME.\n\nAfter the CNAME is deleted, ECP will stop routing traffic for your application. Please make sure you've made necessary changes to the DNS record(s) for your application before deleting the CNAME."
      }
    },
    "/ecp/v1/metrics/{metric}": {
      "parameters": [
        {
          "name": "metric",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "inboundTraffic",
              "inboundBandwidth",
              "outboundTraffic",
              "outboundBandwidth",
              "totalTraffic",
              "totalBandwidth",
              "podCount",
              "vcpu",
              "mem",
              "local-ssd",
              "persist-ssd",
              "ipCount"
            ]
          },
          "description": "Usage metric on compute, storage and network resources.\n\nMetric | Description | Measured in\n--- | --- | --- \ninboundTraffic | Amount of data transmitted to ECP during a time period | byte\ninboundBandwidth | Rate of data transfer to ECP during a time period | bps\noutboundTraffic | Amount of data transmitted from ECP during a time period | byte\noutboundBandwidth | Rate of data transfer from ECP during a time period | bps\ntotalTraffic | Amount of data transmitted to and from ECP during a time period | byte\ntotalBandwidth | Rate of data transfer to and from ECP during a time period | bps\nvcpu | Amount of CPU cores allocated for your application instances during a time period | core\nmem | Amount of memory allocated for your application instances during a time peirod | byte\nlocal-ssd | Amount of local SSD storage capacity allocated for your application instances during a time period | byte\npersist-ssd | Amount of remote SSD storage capacity allocated for your application instances during a time period | byte\npodCount | Number of your application instances (i.e. Kubernetes pods) existing during a time period | ea\nipCount | Number of public IPv4 addresses allocated for your applications during a time period. This includes addresses allocated for both application instances and ECP LoadBalancer4s, if any. | ea\n"
        }
      ],
      "get": {
        "summary": "Get summary of resource usage across all ECP locations",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "This response returns report data. Note that it is always in UTC time.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of time serialized metric values",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "An RFC 3339 format date representing the beginning of a time interval. It is always in UTC time."
                          },
                          "value": {
                            "type": "number",
                            "description": "A value at that timestamp"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "traffic report at 5 min interval": {
                    "value": {
                      "data": [
                        {
                          "timestamp": "2020-10-02T15:00:00Z",
                          "value": 216326
                        },
                        {
                          "timestamp": "2020-10-02T15:05:00Z",
                          "value": 214326
                        },
                        {
                          "timestamp": "2020-10-02T15:10:00Z",
                          "value": 216226
                        },
                        {
                          "timestamp": "2020-10-02T15:15:00Z",
                          "value": 212126
                        },
                        {
                          "timestamp": "2020-10-02T15:20:00Z",
                          "value": 215326
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidDateFormat": {
                    "value": {
                      "error": "InvalidDateFormat",
                      "message": "Invalid parameter {startTime | endTime}. {startTime | endTime} is not a valid RFC3339 timestamp. The timestamp should be in \"yyyy-MM-dd'T'HH:mm:ss'Z'\" format."
                    }
                  },
                  "InvalidRange": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The max time span of {interval} report must be no more than {xxx days}."
                    }
                  },
                  "InvalidRange(1)": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The parameter 'startTime' cannot be a time in the future."
                    }
                  },
                  "InvalidRange(2)": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The parameter 'endTime' should be after 'startTime'."
                    }
                  },
                  "InvalidInterval": {
                    "value": {
                      "error": "InvalidInterval",
                      "message": "The interval requested is invalid."
                    }
                  },
                  "InvalidReportRange": {
                    "value": {
                      "error": "InvalidReportRange",
                      "message": "A valid report range shall be “self-only”, “children-only”, or “self+children”."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidMetric",
                      "message": "The metric given is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-summary-reports",
        "description": "Get summary of your resource usage across all ECP locations. Use the \"metric\" parameter to specify a metric and retrieve usage reports related to compute, storage or network.",
        "parameters": [
          {
            "in": "query",
            "name": "startTime",
            "description": "RFC 3339 date indicating the beginning of a time period. Example: <code>startTime=2020-10-30T00:00:00Z</code>. The time must be specified using the UTC timezone. Your startTime may be rounded down to the nearest minute, hour, or day depending on the \"interval\" parameter. For example, if you pass <code>startTime=2020-09-05T03:14:01Z&interval=hourly</code>, the response includes data beginning at 2020-09-05T03:00:00Z.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "endTime",
            "description": "RFC 3339 date indicating the end of a time period. Example: <code>endTime=2020-11-14T00:00:00Z</code> The time must be specified using the UTC timezone. Your endTime may be rounded up to the nearest minute, hour, or day depending on the \"interval\" parameter. For example, if you pass <code>endTime=2020-09-05T03:14:01Z&interval=hourly</code>, the response includes data ending at 2020-09-05T04:00:00Z.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "oneminute",
                "fiveminutes",
                "hourly",
                "daily",
                "monthly"
              ]
            },
            "name": "interval",
            "required": true,
            "description": "The granularity of returned data. In the backend, raw data is reported every minute. The data is then aggregated to give reports of different granularities. The aggregation method is “sum” for those traffic metrics, and \"average\" for all other metrics. Note that \"oneminute\" interval is available only when the timespan is not longer than 7 days and that \"fiveminutes\" interval is available only when the timespan is not longer than 31 days.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "self-only",
              "enum": [
                "self-only",
                "children-only",
                "self+children"
              ]
            },
            "name": "Report-Range",
            "description": "An optional header that resellers can use to specify whether to include report data from children customers.",
            "in": "header"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/ecp/v1/metrics/{metric}/servergroups": {
      "parameters": [
        {
          "name": "metric",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "inboundTraffic",
              "inboundBandwidth",
              "outboundTraffic",
              "outboundBandwidth",
              "totalTraffic",
              "totalBandwidth",
              "podCount",
              "vcpu",
              "mem",
              "local-ssd",
              "persist-ssd",
              "ipCount"
            ]
          },
          "description": "Usage metric on compute, storage and network resources.\n\nMetric | Description | Measured in\n--- | --- | --- \ninboundTraffic | Amount of data transmitted to ECP during a time period | byte\ninboundBandwidth | Rate of data transfer to ECP during a time period | bps\noutboundTraffic | Amount of data transmitted from ECP during a time period | byte\noutboundBandwidth | Rate of data transfer from ECP during a time period | bps\ntotalTraffic | Amount of data transmitted to and from ECP during a time period | byte\ntotalBandwidth | Rate of data transfer to and from ECP during a time period | bps\nvcpu | Amount of CPU cores allocated for your application instances during a time period | core\nmem | Amount of memory allocated for your application instances during a time peirod | byte\nlocal-ssd | Amount of local SSD storage capacity allocated for your application instances during a time period | byte\npersist-ssd | Amount of remote SSD storage capacity allocated for your application instances during a time period | byte\npodCount | Number of your application instances (i.e. Kubernetes pods) existing during a time period | ea\nipCount | Number of public IPv4 addresses allocated for your applications during a time period. This includes addresses allocated for both application instances and ECP LoadBalancer4s, if any. | ea\n"
        }
      ],
      "get": {
        "summary": "Get summary of resource usage grouped per ECP server groups",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "This response returns report data. Note that it is always in UTC time.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "series": {
                      "type": "array",
                      "description": "Summary of resource usage grouped per ECP server groups",
                      "items": {
                        "type": "object",
                        "properties": {
                          "serverGroup": {
                            "type": "string",
                            "enum": [
                              "standard",
                              "premium",
                              "premium+",
                              "ultra"
                            ],
                            "description": "ECP server group"
                          },
                          "data": {
                            "type": "array",
                            "description": "Array of time serialized metric values",
                            "items": {
                              "type": "object",
                              "properties": {
                                "timestamp": {
                                  "type": "string",
                                  "description": "An RFC 3339 format date representing the beginning of a time interval. It is always in UTC time."
                                },
                                "value": {
                                  "type": "number",
                                  "description": "A value at that timestamp"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "traffic report at 5 minute interval": {
                    "value": {
                      "series": [
                        {
                          "serverGroup": "standard",
                          "data": [
                            {
                              "timestamp": "2020-10-02T15:00:00Z",
                              "value": 216326
                            },
                            {
                              "timestamp": "2020-10-02T15:05:00Z",
                              "value": 214326
                            },
                            {
                              "timestamp": "2020-10-02T15:10:00Z",
                              "value": 216226
                            },
                            {
                              "timestamp": "2020-10-02T15:15:00Z",
                              "value": 212126
                            },
                            {
                              "timestamp": "2020-10-02T15:20:00Z",
                              "value": 215326
                            }
                          ]
                        },
                        {
                          "serverGroup": "premium",
                          "data": [
                            {
                              "timestamp": "2020-10-02T15:00:00Z",
                              "value": 115326
                            },
                            {
                              "timestamp": "2020-10-02T15:05:00Z",
                              "value": 115326
                            },
                            {
                              "timestamp": "2020-10-02T15:10:00Z",
                              "value": 135326
                            },
                            {
                              "timestamp": "2020-10-02T15:15:00Z",
                              "value": 145326
                            },
                            {
                              "timestamp": "2020-10-02T15:20:00Z",
                              "value": 125326
                            }
                          ]
                        },
                        {
                          "serverGroup": "premium+",
                          "data": [
                            {
                              "timestamp": "2020-10-02T15:00:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2020-10-02T15:05:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2020-10-02T15:10:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2020-10-02T15:15:00Z",
                              "value": 0
                            },
                            {
                              "timestamp": "2020-10-02T15:20:00Z",
                              "value": 0
                            }
                          ]
                        },
                        {
                          "serverGroup": "ultra",
                          "data": [
                            {
                              "timestamp": "2020-10-02T15:00:00Z",
                              "value": 134467
                            },
                            {
                              "timestamp": "2020-10-02T15:05:00Z",
                              "value": 137467
                            },
                            {
                              "timestamp": "2020-10-02T15:10:00Z",
                              "value": 124467
                            },
                            {
                              "timestamp": "2020-10-02T15:15:00Z",
                              "value": 154467
                            },
                            {
                              "timestamp": "2020-10-02T15:20:00Z",
                              "value": 135467
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidDateFormat": {
                    "value": {
                      "error": "InvalidDateFormat",
                      "message": "Invalid parameter {startTime | endTime}. {startTime | endTime} is not a valid RFC3339 timestamp. The timestamp should be in \"yyyy-MM-dd'T'HH:mm:ss'Z'\" format."
                    }
                  },
                  "InvalidRange": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The max time span of {interval} report must be no more than {xxx days}."
                    }
                  },
                  "InvalidRange(1)": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The parameter 'startTime' cannot be a time in the future."
                    }
                  },
                  "InvalidRange(2)": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The parameter 'endTime' should be after 'startTime'."
                    }
                  },
                  "InvalidInterval": {
                    "value": {
                      "error": "InvalidInterval",
                      "message": "The interval requested is invalid."
                    }
                  },
                  "InvalidReportRange": {
                    "value": {
                      "error": "InvalidReportRange",
                      "message": "A valid report range shall be “self-only”, “children-only”, or “self+children”."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "InvalidMetric",
                      "message": "The metric given is invalid."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-reports-by-servergroups",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "self-only",
              "enum": [
                "self-only",
                "children-only",
                "self+children"
              ]
            },
            "name": "Report-Range",
            "description": "An optional header that resellers can use to specify whether to include report data from children customers.",
            "in": "header"
          },
          {
            "in": "query",
            "name": "startTime",
            "description": "RFC 3339 date indicating the beginning of a time period. Example: <code>startTime=2020-10-30T00:00:00Z</code>. The time must be specified using the UTC timezone. Your startTime may be rounded down to the nearest minute, hour, or day depending on the \"interval\" parameter. For example, if you pass <code>startTime=2020-09-05T03:14:01Z&interval=hourly</code>, the response includes data beginning at 2020-09-05T03:00:00Z.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "endTime",
            "description": "RFC 3339 date indicating the end of a time period. Example: <code>endTime=2020-11-14T00:00:00Z</code> The time must be specified using the UTC timezone. Your endTime may be rounded up to the nearest minute, hour, or day depending on the \"interval\" parameter. For example, if you pass <code>endTime=2020-09-05T03:14:01Z&interval=hourly</code>, the response includes data ending at 2020-09-05T04:00:00Z.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "oneminute",
                "fiveminutes",
                "hourly",
                "daily",
                "monthly"
              ]
            },
            "name": "interval",
            "required": true,
            "description": "The granularity of returned data. In the backend, raw data is reported every minute. The data is then aggregated to give reports of different granularities. The aggregation method is “sum” for those traffic metrics, and \"average\" for all other metrics. Note that \"oneminute\" interval is available only when the timespan is not longer than 7 days and that \"fiveminutes\" interval is available only when the timespan is not longer than 31 days.",
            "in": "query"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer and make API call on their behalf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Get summary of your resource usage grouped per ECP server groups. Use the \"metric\" parameter to specify a metric and retrieve usage reports related to compute, storage or network."
      }
    },
    "/ecp/v1/metrics/{metric}/servergroups/{servergroup}": {
      "parameters": [
        {
          "name": "metric",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "inboundTraffic",
              "inboundBandwidth",
              "outboundTraffic",
              "outboundBandwidth",
              "totalTraffic",
              "totalBandwidth",
              "podCount",
              "vcpu",
              "mem",
              "local-ssd",
              "persist-ssd",
              "ipCount"
            ]
          },
          "description": "Usage metric on compute, storage and network resources.\n\nMetric | Description | Measured in\n--- | --- | --- \ninboundTraffic | Amount of data transmitted to ECP during a time period | byte\ninboundBandwidth | Rate of data transfer to ECP during a time period | bps\noutboundTraffic | Amount of data transmitted from ECP during a time period | byte\noutboundBandwidth | Rate of data transfer from ECP during a time period | bps\ntotalTraffic | Amount of data transmitted to and from ECP during a time period | byte\ntotalBandwidth | Rate of data transfer to and from ECP during a time period | bps\nvcpu | Amount of CPU cores allocated for your application instances during a time period | core\nmem | Amount of memory allocated for your application instances during a time peirod | byte\nlocal-ssd | Amount of local SSD storage capacity allocated for your application instances during a time period | byte\npersist-ssd | Amount of remote SSD storage capacity allocated for your application instances during a time period | byte\npodCount | Number of your application instances (i.e. Kubernetes pods) existing during a time period | ea\nipCount | Number of public IPv4 addresses allocated for your applications during a time period. This includes addresses allocated for both application instances and ECP LoadBalancer4s, if any. | ea\n"
        },
        {
          "schema": {
            "type": "string",
            "enum": [
              "standard",
              "premium",
              "premium+",
              "ultra"
            ]
          },
          "name": "servergroup",
          "description": "Code of an ECP server group",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get summary of resource usage in a specific ECP server group",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "This response returns report data. Note that it is always in UTC time.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of time serialized metric values",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "An RFC 3339 format date representing the beginning of a time interval. It is always in UTC time."
                          },
                          "value": {
                            "type": "number",
                            "description": "A value at that timestamp"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "traffic report at 5 minute interval": {
                    "value": {
                      "data": [
                        {
                          "timestamp": "2020-10-02T15:00:00Z",
                          "value": 216326
                        },
                        {
                          "timestamp": "2020-10-02T15:05:00Z",
                          "value": 214326
                        },
                        {
                          "timestamp": "2020-10-02T15:10:00Z",
                          "value": 216226
                        },
                        {
                          "timestamp": "2020-10-02T15:15:00Z",
                          "value": 212126
                        },
                        {
                          "timestamp": "2020-10-02T15:20:00Z",
                          "value": 215326
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Refer to response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidDateFormat": {
                    "value": {
                      "error": "InvalidDateFormat",
                      "message": "Invalid parameter {startTime | endTime}. {startTime | endTime} is not a valid RFC3339 timestamp. The timestamp should be in \"yyyy-MM-dd'T'HH:mm:ss'Z'\" format."
                    }
                  },
                  "InvalidRange": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The max time span of {interval} report must be no more than {xxx days}."
                    }
                  },
                  "InvalidRange(1)": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The parameter 'startTime' cannot be a time in the future."
                    }
                  },
                  "InvalidRange(2)": {
                    "value": {
                      "error": "InvalidRange",
                      "message": "The parameter 'endTime' should be after 'startTime'."
                    }
                  },
                  "InvalidInterval": {
                    "value": {
                      "error": "InvalidInterval",
                      "message": "The interval requested is invalid."
                    }
                  },
                  "InvalidReportRange": {
                    "value": {
                      "error": "InvalidReportRange",
                      "message": "A valid report range shall be “self-only”, “children-only”, or “self+children”."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "description": "A standard error object.",
                  "x-tags": [
                    "Common"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InvalidMetric": {
                    "value": {
                      "error": "InvalidMetric",
                      "message": "The metric given is invalid."
                    }
                  },
                  "ServerGroupNotExist": {
                    "value": {
                      "error": "ServerGroupNotExist",
                      "message": "The serverGroup given is invalid or does not exist."
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "name": "Qtl-Request-Id",
                "in": "header",
                "description": "A string automatically generated by the api server to identify each request.",
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-reports-for-a-server-group",
        "description": "Get summary of resource usage in a specific ECP server group. Use the \"metric\" parameter to specify a metric and retrieve usage reports related to compute, storage or network.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "self-only",
              "enum": [
                "self-only",
                "children-only",
                "self+children"
              ]
            },
            "name": "Report-Range",
            "description": "An optional header that resellers can use to specify whether to include report data from children customers.",
            "in": "header"
          },
          {
            "in": "query",
            "name": "startTime",
            "description": "RFC 3339 date indicating the beginning of a time period. Example: <code>startTime=2020-10-30T00:00:00Z</code>. The time must be specified using the UTC timezone. Your startTime may be rounded down to the nearest minute, hour, or day depending on the \"interval\" parameter. For example, if you pass <code>startTime=2020-09-05T03:14:01Z&interval=hourly</code>, the response includes data beginning at 2020-09-05T03:00:00Z.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "endTime",
            "description": "RFC 3339 date indicating the end of a time period. Example: <code>endTime=2020-11-14T00:00:00Z</code> The time must be specified using the UTC timezone. Your endTime may be rounded up to the nearest minute, hour, or day depending on the \"interval\" parameter. For example, if you pass <code>endTime=2020-09-05T03:14:01Z&interval=hourly</code>, the response includes data ending at 2020-09-05T04:00:00Z.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "oneminute",
                "fiveminutes",
                "hourly",
                "daily",
                "monthly"
              ]
            },
[...]
